<a href="https://colab.research.google.com/github/ghule2510/data-structure/blob/main/Yet_another_copy_of_Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2.Explain the difference between mutable and immutable data types with example.
Ans-Mutable Data Type – A mutable data type is one whose values can be changed.
Example: List, Dictionaries, and Set
Immutable Data Type – An immutable data type is one in which the values can’t be changed or altered.
Example: String and Tuples

1What are the data strure and why are they important?
Ans-Data structures are specialized formats for organizing, storing, and accessing collections of data. They provide efficient ways to manage information based on its characteristics and intended use.
Think of them as containers that hold your data and determine how you can interact with it. Different containers are better suited for different types of items.

IMPORTANCE

Choosing the right data structure significantly impacts the efficiency and performance of your program.
Well-chosen data structures can:
Simplify data manipulation (adding, removing, modifying elements)
Optimize searching and sorting operations
Conserve memory usage

3.What are the main difference between list and tuples in python?
Ans-list can hold items of various data type
Tuples-secure way to stored data that shouldn't be modified

4.Describe how dictionaries stored data
Ans-Python dictionaries store data as key-value pairs using a hash table implementation. This structure allows for efficient retrieval of values based on their associated keys.

5.why might you use a set instead of a list in phython
Ans-need to store unique elements and perform fast membership tests or mathematical set operations (like union, intersection, and difference). Lists, on the other hand, allow duplicate elements and maintain insertion order, making them suitable when element order and duplicates are important.

6.what is string in phython and how is it different from a list?
Ans-A string in Python is an immutable sequence of characters, while a list is a mutable, ordered sequence of elements of any type. This means you cannot change a string after creation, but you can modify a list.

7.how do tuples ensure data integrity in phython
Ans-Tuples ensure data integrity in Python by being immutable, meaning their elements cannot be changed after creation, thus preventing accidental modification.

8.what is the hash table,and how does it relate to dictionaries in phython
Ans-A hash table is a data structure that stores key-value pairs by using a hash function to compute an index (or "hash code") into an array of buckets, allowing for very fast data access.
In Python, the built-in dictionary (dict) type is implemented using a hash table. This means that when you use a Python dictionary, you are leveraging the efficiency of an underlying hash table to store and retrieve your key-value pairs.

9.can list contain different data types in python?
Ans -yes(python lists can contain different data type

10.Explain why strings are immutable in phython
Ans -Strings are immutable in Python, meaning once created, you cannot change their content. This design choice offers several benefits, including performance optimizations (like string interning for memory efficiency), thread safety, and enabling their use as dictionary keys due to constant hash values. Any operation that appears to modify a string actually creates a new string object.

11.What advantages do dictionaries offer over list for certain task?
Ans-Dictionaries offer fast lookups and the ability to map unique keys to values, making them ideal for data retrieval by specific identifiers. Lists, while ordered and good for sequential data, require linear searches, which are slower for large datasets.

12.Describe a scenario where using a tuple would be preferable over a list.
ANS -A tuple is preferable for representing a fixed collection of related items, like the coordinates (x, y, z) of a point, where the immutability ensures data integrity.

13.How do set handle duplicate values in phython
Ans-*Sets in Python*

In Python, a set is an unordered collection of unique elements. When you try to add a duplicate value to a set, it will automatically ignore the duplicate and keep only one instance of the value.

Here's an example:
my_set = {1, 2, 2, 3, 4, 4, 5}
print(my_set)  # {1, 2, 3, 4, 5}
As you can see, the duplicate values (2 and 4) are automatically removed, and the set only contains unique values.

*Adding duplicates to a set*

If you try to add a duplicate value to a set using the `add()` method, it will simply be ignored:
my_set = {1, 2, 3}
my_set.add(2)
print(my_set)  # {1, 2, 3}
In this case, the `add()` method doesn't raise an error or modify the set because the value 2 is already present.

*Using set operations*

Sets in Python also support various operations like union, intersection, and difference, which can be useful when working with duplicate values.

For example, you can use the `union()` method to combine two sets and automatically remove duplicates:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))  # {1, 2, 3, 4, 5}
Overall, sets in Python provide a convenient way to work with unique values and automatically handle duplicates.

14.How does the "in"keyword work differently for list and dictionaries?
Ans-*"in" Keyword in Python*



*Lists*

When using `in` with a list, Python checks if the specified value is present in the list. It returns `True` if the value is found, and `False` otherwise.
my_list = [1, 2, 3, 4, 5]
print(2 in my_list)  # True
print(6 in my_list)  # False
*Dictionaries*

When using `in` with a dictionary, Python checks if the specified key is present in the dictionary. It returns `True` if the key is found, and `False` otherwise.
my_dict = {'a': 1, 'b': 2, 'c': 3}
print('a' in my_dict)  # True
print('d' in my_dict)  # False
Note that `in` checks for keys, not values. If you want to check for values, you can use the `.values()` method:
my_dict = {'a': 1, 'b': 2, 'c': 3}
print(1 in my_dict.values())  # True
print(4 in my_dict.values())  # False
If you want to check for both keys and values, you can use the `.items()` method:
my_dict = {'a': 1, 'b': 2, 'c': 3}
print(('a', 1) in my_dict.items())  # True
print(('a', 2) in my_dict.items())  # False
In summary, the `in` keyword works differently for lists and dictionaries:

- For lists, `in` checks for values.
- For dictionaries, `in` checks for keys by default, but you can use `.values()` or `.items()` to check for values or key-value pairs, respectively.

15.Can you modified the elements of a tuple?explain why or why not.
Ans-Tuple Immutability
You cannot modify the elements of a tuple after it's created. This is because tuples are immutable data structures in Python, meaning their contents cannot be changed, added to, or removed from once defined.

16.what is a nested dictionary,and give and example of its use case?
Ans-A nested dictionary is a dictionary where each value is itself another dictionary. It is useful for organizing hierarchical data.
Example Use Case: Storing information about multiple students, where each student has their own set of details like age, grade, and subjects.
student_data = {
    "student1": {
        "name": "Alice",
        "age": 16,
        "grade": 10,
        "subjects": {"math": "A", "science": "B"}
    },
    "student2": {
        "name": "Bob",
        "age": 17,
        "grade": 11,
        "subjects": {"math": "B", "history": "A"}
    }
}

print(student_data["student1"]["subjects"]["math"]) # Output: A

17.describe the time complexity of accessing elements in a dictionary
Ans-The time complexity of accessing an element in a dictionary is O(1) on average.

18.In what situation are list preferred over dictionaries?
Ans-Lists are preferred over dictionaries when order matters or when you need to access elements by numerical index. Dictionaries excel for fast lookups by unique keys and for storing data with key-value relationships.

19.Why are dictionaries consider unordered,and how does that affect data retrieval?
Ans-Dictionaries are generally considered unordered because their primary purpose is efficient key-based data retrieval, not maintaining insertion order. While modern Python (3.7+) guarantees insertion order, this is an implementation detail rather than a fundamental characteristic.

20.Explain the difference between a list and a dictionary in terms of data retrieval.
Ans-When retrieving data:
 * Lists use ordered numerical indices for access.
 * Dictionaries use unique, user-defined keys for access.

**Practical Questions**
1. write a code to create a string with your name and print it

In [ ]:
'''name=divya ghule'''

'name=divya ghule'

2.write a code to find the length of the string"Hello World"

In [ ]:
'''length="Hello world"'''

'length="Hello world"'

3.write a code to slice the first 3 characters from the string"Python programming"

In [ ]:
'''first_letter=name[3]'''

'first_letter=name[3]'

4.write the code to convert the string"hello"to upper case

In [ ]:
'''upper_case=name"Hello"'''

'upper_case=name"Hello"'

5.write a code to replace the world "apple"with "orange"in the string "i like apple"

In [ ]:
'''replace_word=name.replace("apple","orange")'''

'replace_word=name.replace("apple","orange")'

6.write a code to create a list with number 1 to 5 and print it

In [ ]:
'''number=["1,2,3,4,5"]'''

'number=["1,2,3,4,5"]'

7.write a code to append the number 10 to the list[1,2,3,4]

In [ ]:
'''append_number=number.append(10)'''

'append_number=number.append(10)'

8.write a code to remove the number 3 from the list[1,2,3,4,5]

In [ ]:
'''remove_number=number.remove(3)'''

'remove_number=number.remove(3)'

9.write a code to access the second element in the list['a','b','c','d']

In [ ]:
'''access_second_element=number{1}'''

'access_second_element=number{1}'

10.write a code reverse the list [10,20,30,40,50]

In [ ]:
'''reverse_list=number.reverse()'''

'reverse_list=number.reverse()'

11.write a code to create a tuple with the elements 100,200,300 and print it.

In [ ]:
my_tuple=(100,200,300)
print(my_tuple)

(100, 200, 300)

12.write a code to access the second-to-last element of the tuple('red','green','blue','yellow')

In [ ]:
my_tuple=('red','green','blue','yellow')
print(my_tuple[-2])

blue

13.write a code to find a minimum number in the tuple(10,20,5,15)

In [ ]:
min_number=min(10,20,5,15)
print(min_number)

5

14.write a code to find the index of the elemnet "cat" in the tuple('dog','cat','rabbit')

In [ ]:
my_tuple=('dog','cat','rabbit')
print(my_tuple.index('cat'))

1

15.write a code to create a tuple containg three different fruits and check if"kiwi" is in it.

In [ ]:
my_tuple=('apple','banana','kiwi')
print('kiwi' in my_tuple)

True

16.write a code to create a set with the elements 'a','b','c' and print it

In [ ]:
'''empty_set=set()'''

'empty_set=set()'

17.write a code to clear all elements from the set {1,2,3,4,5}.

In [ ]:
empty_set=set()

18.write a code to remove the element 4 from the set {1,2,3,4}

In [ ]:
'''empty_set.remove(4)'''

'empty_set.remove(4)'

19.write a code to find the union of to sets {1,2,3}and {3,4,5}.

In [ ]:
'''empty_set.union(3,4,5)'''

'empty_set.union(3,4,5)'

20.write a code to find the intresection of to sets{1,2,3} and {2,3,4}

In [ ]:
'''empty_set.intersection(2,3,4)'''

'empty_set.intersection(2,3,4)'

21.write a code to create a dictionary with the keys"name","age",and "city",and print it

In [ ]:
'''my_dict={"name":"divya","age":20,"city":"pune"}'''

'my_dict={"name":"divya","age":20,"city":"pune"}'

22.write a code to add a new key - value pair "county":"USA" To the dictionary{'name:'john','age':25}

In [ ]:
'''my_dict["county"]="USA"'''

'my_dict["county"]="USA"'

23.write a code to acess the value assosiated with the key"name" in the dictionary{'name':'Alice','age':30}

In [ ]:
'''my_dict["name"]'''

'my_dict["name"]'

24.write a code to remove the key "age" from the dictionary{'name':'bob','age':22,'city':'new york'}

In [ ]:
'''my_dict.pop("age")'''

'my_dict.pop("age")'

25.write a code to check if the key "city" exist in dictionary{'name':'alice','city':'paris'}

In [ ]:
'''my_dict.get("city")'''

'my_dict.get("city")'

26.write a code to create a list,a tuple,and a dictionary,and print them all.

In [ ]:
'''my_list=[1,2,3]'''

'my_list=[1,2,3]'

27.write a code to create a list of 5 random no between 1 and 100,sort it in assending order,and print the reuslt.(repaced).

In [ ]:
'''my_list=[1,2,3,4,5]'''

'my_list=[1,2,3,4,5]'

28.write a code to create a list with strings and print the element at the third index

In [ ]:
'''my_list=["apple","banana","orange"]'''

'my_list=["apple","banana","orange"]'

29.write a code to combine to dictionary into one and print the result

In [ ]:
'''my_dict={"name":"divya","age":20}'''

'my_dict={"name":"divya","age":20}'

30.write a code to convert a list of strings into a set.

In [ ]:
'''my_list=["apple","banana","orange"]'''

'my_list=["apple","banana","orange"]'